node_modules
dist
dist-ssr
*.local

.env
.env.local
.env.*.local

.git
.github

.vscode
.idea

*.log
npm-debug.log*

coverage
.nyc_output

**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
src/test
